

*{
    box-sizing:border-box;
    
   }
   
   html,
   body{
       margin:0;
       padding: 0;
   }
   
   
   .header{
       display: flex;
       justify-content: space-between;
       justify-content: center;
       
       /* background:white; */
       min-width: 100%;
       height: 70px;
       top: 0;
       bottom: 20px;
       border-bottom: 1px solid  #cccccc;
   }
   
   .logo{
       justify-content: center;
       /* width: 50%; */
       max-width: 100%;
       text-align: center;
       background: #4aaaa5;
       height: 70px;
       padding: 10px;
       margin-left: 20px;
   }
   
   h1{
       color: white;
       font-family: Georgia, 'Times New Roman', Times, serif;
       font-size: 14px;
       margin-bottom: 20px;
   }
   
   .nav-links{
       display: flex;
       justify-content: space-between;
       padding: 10px;
       margin-left: 20px;
   }
   
   .nav-links li{
       margin: 0px 5px 0px 5px;;

       list-style: none;
   }
   
   .nav-links a{
       text-decoration: none;
       color: rgb(118, 121, 118);
   }
   .container{
       background: url(../images/Grey-Texture-Background.jpg);
   }
   
   .footer{
       font-family: Arial, Helvetica, sans-serif;
       background-color:#666666;
       border-top: 5px solid rgb(2, 179, 170);
       position: fixed;
       right: 0;
       bottom: 0;
       left: 0;
       color: white;
       height: 20px;
       
   }
   
   p.footer{
       text-align: center;
       padding: 20px;
       font-size: 10px;
   }
   
   .container{
       padding: 10px;
    
   }
   
   .row {
       background: white;
       display: flex;
       flex-direction: column;
       align-items: center;
       /* flex-wrap: wrap; */
       margin: 20px -10px 20px -10px;
       /* background:white; */
       }
    
   .column img{
       display: flex;
       align-items: center;
       margin: 5px 10px 5px 10px;
   }
   .column {
       max-width: 100%;
       /* margin: 0 10px 10px 10px; */
       padding: 15px;
   }
   .column header{
       height: 70px;
       border-bottom: 1px solid #cccccc;
       margin-bottom: 0px;
       
   }
   h2{
       margin-left: 30px;
       margin-bottom: 0px;
       color:#4aaaa5;
       text-align: center;
       height: 100px;
       font-family: Georgia, 'Times New Roman', Times, serif;
       /* border-bottom: 1px solid #cccccc; */
   
   }
   .column text{
       margin: 0 10px 20px 10px;
       width: 100%;
   
   }
   p{
       font-family: Arial, Helvetica, sans-serif;
       color:#777777;
       text-align: justify;
       max-width: 100%;
   }
   
       
   
   @media(min-width: 600px) {
   
       .column--desktop-1 {
           width: calc(8.3333333333% - 20px);
           background:url(../images/Grey-Texture-Background.jpg)
       }
   
       .column--desktop-2 {
           width: calc(16.6666666667% - 20px);
       }
   
       .column--desktop-3 {
           width: calc(25% - 20px);
       }
   
       .column--desktop-4 {
           width: calc(33.3333333333% - 20px);
       }
   
       .column--desktop-5 {
           width: calc(41.6666666667% - 20px);
       }
   
       .column--desktop-6 {
           background: #000;
           height: 200px;
           width: calc(50% - 20px);
       }
   
       .column--desktop-7 {
           width: calc(58.3333333333% - 20px);
       }
   
       .column--desktop-8 {
           width: calc(66.6666666667% - 20px);
       }
   
       .column--desktop-9 {
           width: calc(75% - 20px);
       }
   
       .column--desktop-10 {
           width: calc(83.3333333333% - 20px);
       }
   
       .column--desktop-11 {
           width: calc(91.6666666667% - 20px);
       }
   
       .column--desktop-12 {
           width: calc(100% - 20px);
       }
   }
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   /* *{
       margin:0;
   }
   
   body{
       background-image: url(../images/Grey-Texture-Background-and-Wallpaper-16.jpg);
       background-size:cover;
       height: 100%;
       background-repeat: no-repeat;
       background-attachment: fixed;
       margin-bottom: -50px;
   }
   
   .container-1{
       display: flex;
       background-color: white;
       height: 100px;
       border-bottom: 2px solid #cccccc;
       justify-content: space-between;
   }
   
   .header{
       background-color:#4aaaa5;
       margin-left: 270px;
       width: 220px;
       text-align: center;
   }
   
   h1{
       font-family: Georgia, 'Times New Roman', Times, serif;
       color: white;
       text-align: center;
       margin-top: 10px;
       margin-bottom: 10px;
   }
   
   ul{ 
       display: flex;
       background-color: white;
       padding: 20px; 
       margin-right: 260px;
       list-style-type: none;
   }
   
   li{
       text-align: center;
       color: #777777;
       padding: 15px;
   }
   
   li a{
       font-family: Arial, Helvetica, sans-serif;
       color: #777777;
       text-decoration: none;
   }
   
   li a:hover{
       color: #4aaaa5;
   }
   .container-2{
       width: 960px;
       min-height: 100%;
       background-color: white;
       box-sizing: border-box;
       margin-left: 270px;
       margin-top: 60px;
       margin-bottom: 200px; 
       border-bottom: 2px solid #cccccc;
   } 
   
   .heading{
       box-sizing: border-box;
       background-color: white;
       margin-bottom: 30px;
       width: 910px;
       border-bottom: 1.5px solid #dddddd;
       margin-left: 15px;
       padding: 10px;
   }
   
   .main{ 
       background-color: white;
       box-sizing: border-box;
       width: 960px;
       margin-top: 50px;
   } 
   
   
   
   h2{
       color:#4aaaa5;
       font-family:Georgia, 'Times New Roman', Times, serif;
       font-weight: bold;
       font-size: 30px;
       padding: 10px;
       margin-right: 25px;
       margin-top: 25px;
   }
   
   p{
       margin-right: 35px;
       align-items: left;
       font-family: Arial, Helvetica, sans-serif;
       color: #777777;
       margin-top: 5px;
       text-align: justify;
       margin-left: 35px;
   }
   
   img{
       height: 200px;
       margin-left: 35px;
       margin-right: 25px;
       margin-bottom: 3px;
       float:left;
   }
   
   .form-name{
       margin-left: 20px;
       width: 910px;
       padding: 10px;
       font-family: Arial, Helvetica, sans-serif;
       color: #777777;
   }
   
   #contact-form{
       margin-top: 5px;
       margin-left: 20px;
       padding: 10px;
   }
   
   .form-control{
       width: 890px;
   }
   
   .form-email{
       margin-left: 10px;
       padding: 20px;
       margin-right: 25px;
       font-family: Arial, Helvetica, sans-serif;
       color: #777777;
   }
   
   #contact-email{
       margin-top: 5px;
   }
   
   input,textarea{
       font-family: Arial, Helvetica, sans-serif;
   } 
   
   
   textarea{
       width: 890px;
       height: 20em;
       resize: vertical;
       margin-right: 25px;
    } 
   
   .text{
       font-family: Arial, Helvetica, sans-serif;
       color: #777777;
       margin-left: 20px;
       padding: 10px;
   }
   
   button {
       text-align: center;
       border: 0px;
       padding: 10px;
       background-color: #4aaaa5; 
       color: #ffffff;
       margin-left: 30px; 
       margin-bottom: 20px;
       font-family: Arial, Helvetica, sans-serif;
   }
   
   .main-2{
       display:flex;
       flex-wrap: wrap;
   }
   
   .portfolio-images-1{
       margin-top: 10px;
       width: 250px;
   }
   
   .portfolio-images-2{
       margin-left: 35px; 
       margin-top: 50px; 
       width: 250px;
       margin-bottom: 80px;
   } 
   
   footer{
       background-color:#666666;
       height: 50px;
       border-top: 7px solid rgb(2, 179, 170);
       margin-top: -50px;
       bottom: 0px;
   }
   
   p.footer{
       font-family: Arial, Helvetica, sans-serif;
       text-align: center;
       color: white;
       font-size: 12px;
       margin-top: 15px;
   }
    */
   