

/* Mobile version */
@media (min-width: 300px) and (max-width: 479px) {

    *{
        margin: 0;
        padding: 0;
    }

    html{
        background-image: url(../images/binary-code-abstract-lu.jpg);
    }


    .body{
        width: 100%;
    }

    .container{
        width: 100%;
        margin-top: 0;
        background-image: url(../images/binary-code-abstract-lu.jpg);
    }
    

    .header{
        display: flex;
        
        justify-content: space-between;
        max-width: 100%;
        margin-top: 0em;
        margin-right: 0em; 
        background: #181818;
        border-bottom: 0.1em solid  #050505;
    }

    .hamburger-menu{
        width: 35px;
        height: 30px;
        position: fixed;
        top: 0.5em;
        right: 2em;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .line{
        width: 80%;
        height: 0.2em;
        background-color: #4aaaa5;
        transition: all 0.9s;
    }

    .change .line-1 {
        transform: rotateZ(-45deg) translate(-8px, 6px);
    }

    .change .line-2 {
        opacity: 0;
    }

    .change .line-3 {
        transform: rotateZ(45deg) translate(-8px, -6px);
    }

    .nav{
        width: 40%;
        height: 40%;
        background-color: #181818;
        position: fixed;
        top: 0;
        right: -300px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: right 0.6s cubic-bezier(1, 0, 0, 1);
        opacity: 0.9;
    }

    .change {
        right: 0;
    }
         
    .nav-links{
        text-align: right;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
    }

    .nav-item{
        list-style: none;
        margin: 2em 1em;
        text-align: center;
        border-bottom: 0.03em solid  #4aaaa5;
    }
        
    .link{
        text-decoration: none;
        font-size: 1em;
        color: #4aaaa5;
        font-weight: 200;
        text-transform: uppercase;
        position: relative;
        padding: 3px 0;
    }

    .link::before,
    .link::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: rgb(8, 8, 8);
        position: absolute;
        left: 0;
        transform: scaleX(0);
        transition: transform 0.5s;
    }

    .link::after{
        bottom: 0;
        transform-origin: right;
    }
    .link::before{
        top: 0;
        transform-origin: left;
    }

    .link:hover::before,
    .link:hover::after {
        transform: scaleX(1);
    }

    .logo{
        color:#4aaaa5;
        padding: 1em;
        float: left;
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        text-align: center;
    }
    
    h1{
        color:#4aaaa5;
        float: left;
        margin-left: 0.5em;
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        text-transform: uppercase;
    }

    .wrapper-index{
        margin: 1.5em;
        background: #181818;
        margin-bottom: 5em;
    }

    h2{
        color:#4aaaa5;
        text-align: center;
        background: #181818;
        font-size: 1.2em;
        font-family: 'Roboto', sans-serif;
        margin-top: 2em;
        margin-bottom: 1.5em;
        border-bottom: 0.01em solid  #050505;
        padding: 1em 0em;
        text-transform: uppercase;
    }

    .column-text {
        width: 100%;
        margin-bottom: 1em;
        border-bottom: 0.01em solid  #050505;
    }
   
    p{
        font-family: 'Roboto', sans-serif;
        color:#979797;
        max-width: 100%;
        margin:0 1em;
        text-align: justify;
    }

    .icon-github{
        width: 8%;
        float: right;
        margin: 2%;
    }

    .icon-mail{
        width: 8%;
        float: right;
        margin: 1%;
    }

    .icon-linkedin{
        width: 8%;
        float: right;
        margin: 2%;
    }


    /* Contact */

    .wrapper-contact{
        margin: 1.5em; 
        background: #181818;
        margin-bottom: 5em;
    }
    input[type=text] {
        background: #686868;
        color:black;
        padding: 0.7em;
        box-sizing: border-box;
        margin-bottom: 1.5em; 
        border: none;
    }

    .form-main{
        padding: 0em 1em;
        border-bottom: 0.01em solid  #050505;
    }

    textarea{
        width: 100%;
        height: 8em;
        padding: 12px 20px;
        box-sizing: border-box;
        background-color: #686868;
        font-size: 16px;
        resize: none;
        margin-bottom:2em ;
    }

    label{
        display: block; 
        padding-bottom: 0.7em;
        color: #4aaaa5;
        font-family: 'Roboto', sans-serif;
    }

    ::placeholder {
        color: rgb(19, 19, 19);
        font-family: 'Roboto', sans-serif;
    }

    .submit-button  {
        width: 50%;
        display: block;
        margin: 1.2em  auto;
        background-color: #4aaaa5;
        color: black;
        padding: 1em;
        font-family: 'Roboto', sans-serif;
        border: none;
        cursor: pointer;
    }

    .submit-button:hover{
        background-color: #2e837f;
        cursor: pointer;
    }

    .input-form{
        width: 100%;
        margin-right: 2em;
    }

    

    /* PORTFOLIO */

    .wrapper-portfolio{
        margin: 1.5em; 
        background: #181818;
        margin-bottom: 5em;
    }

    .column-portfolio-mobile{
        min-width: 100%;
        display: flex;
        border-bottom: 0.01em solid  #050505;
    }

    .about-project-mobile{
        float: right;
    }

    .icon-github-portfolio{
        width: 25%;
    } 

    .about-project-mobile p {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 0.5em;
    } 

    .portfolio-images{
        width: 60%;
        margin-left:1em;
        margin-bottom: 0.8em;
        float: left;
        cursor: pointer;
    }
    
    .portfolio-images a:hover {
        cursor: pointer;
    }

   
    .resume {
        color: #4aaaa5;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: large;
        font-weight: bolder;
        padding: 1em ;
        text-transform: uppercase;
    }

    .resume a{
        text-decoration: none;
        color: #4aaaa5;
    }

    .resume a:hover{
        text-decoration: none;
        color: #3bc0b9;
    }
    .icon-github{
        width: 8%;
        margin-bottom: 4em;
        margin: 1em 0.8em;
    }

    .icon-mail{
        width: 8%;
        margin: 1em 0em;
    }

    .icon-linkedin{
        width: 6%;
        margin: 1em 1em;
    }

    footer{
        background: #181818;
        border-top: 0.5em solid #4aaaa5;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        height: 5%;
    }

    .paragraph-footer{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 0.7em;
        color: #979797;
    }  

}


/* Tablet  Version */
@media (min-width: 479px) and (max-width: 599px) {
    *{
        margin:0 ;
        padding: 0;
    }

    html{
        background-image: url(../images/binary-code-abstract-lu.jpg);
    }
    
    .body{
         width: 100%;
    }
    
    .container-tablet{
        width: 100%;
        margin-top: 0;
        background-image: url(../images/binary-code-abstract-lu.jpg);
    }

    /* Header Nav Bar */

    .header-tablet{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 0;
        margin-right: 0;
        background: #181818;
        border-bottom: 0.1em solid  #050505;
    }
    
    .logo-tablet{
        color:#4aaaa5;
        padding: 1em;
        float: left;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
        text-align: center;
        text-transform: uppercase;
    }

    .nav-tablet{
        margin-right: 5%;
        margin-top: 1.7em;
        margin-left: 25%;
        display: flex;
        min-width: 100%;
    }

    .nav-links-tablet{
        display: flex;
    }
       
    .nav-links-tablet li{
        list-style: none;
        margin-right:5%;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2em;
    }
       
    .nav-links-tablet a{
        text-decoration: none;
        color: #4aaaa5;
    }
    
    li a:hover{
        color: #88fff9;
    }

    /* Index Wrapper */

    .wrapper-tablet-index{
        margin: 5%;
        background: #181818;
        height: 41em;
        margin-bottom: 15em;
    }

    h2{
        font-size: 10px;
        color:#4aaaa5;
        text-align: center;
        background: #181818;
        font-family: 'Roboto', sans-serif;
        margin-top: 2em;
        border-bottom: 0.01em solid  #050505;
        padding: 1em 0em;
        text-transform: uppercase;
    }

    .column-tablet img{
        width: 25%;
        margin-left:2em;
        margin-right: 1.5em;
        margin-bottom: 0.8em;
        margin-top: 3.5em;
        float: left;
    }

    .column-text-tablet {
        font-size: 100%;
        width: 100%;
        margin-top: 3em;
        border-bottom: 0.01em solid  #050505;
    }
    
    p{
        font-family: 'Roboto', sans-serif;
        color:#979797;
        max-width: 100%;
        margin:0 1em;
    }


    .icon-github{
        width: 8%;
        float: right;
        margin: 1em 0.8em;
    }

    .icon-mail{
        width: 8%;
        float: right;
        margin: 1em 0em;
    }

    .icon-linkedin{
        width: 6%;
        margin: 1em 1em;
        float: right;
    }

    .resume-desktop{
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
        float: left;
        margin: 0.5em;
        text-decoration: none;
    }

    .resume-desktop a{
        margin: 1em;
        color: #4aaaa5;
        text-decoration: none;
    }

    .resume-desktop a:hover{
        margin: 1em;
        color: #88fff9;
        text-decoration: none;
    }

    /* Portfolio */
   
    .wrapper-tablet-portfolio{
        
        margin: 5%;
        background: #181818;
        height: 65em;
        margin-bottom: 10em;
    }

    .portfolio-tablet{
        color:#4aaaa5;
        font-size: 2em;
        text-align: center;
        background: #181818;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 1.5em;
        border-bottom: 0.01em solid  #050505;
        padding: 1em 0em;
    }

    .column-portfolio-tablet{
        min-width: 100%;
        display: flex;
        border-bottom: 0.01em solid  #050505;
       
    }

    .portfolio-images-tablet{
        cursor: pointer;
        width: 70%;
        margin-left: 1em;
    }
 
    .icon-github-portfolio{
        width: 20%;
    } 

    .about-project-1-tablet{
        float: right;
    }

     .about-project-1-tablet p {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1em;
        margin: 1.5em 1.5em; 
    }  
    
    .about-project-2-tablet{
        float: right;
    }

    
    .about-project-2-tablet p {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1em;
        margin: 2em 1em;
    } 

    .about-project-3-tablet{
        float: right;
    }

    
    .about-project-3-tablet p {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1em;
        margin: 2.5em 1em;
    }  

    .about-project-4-tablet{
        float: right;
    }

    
    .about-project-4-tablet p {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1em;
        margin: 2.5em 1.5em;
    }  
   


    /* Contact */
    .wrapper-tablet-form{
        margin: 5%;
        background: #181818;
        height: 50em;
        margin-bottom: 10em;
        
    }

    .input-form-tablet{
        background: #979797;
        color:black;
        padding: 0.7em;
        box-sizing: border-box;
        margin-bottom: 1.5em; 
        border: none;
        min-width: 100%;
    }

    .form-main-tablet{
        padding: 5%;
        margin-top: 2em;
        border-bottom: 0.01em solid  #050505;
        
    }

    textarea{
        width: 100%;
        height: 12em;
        padding: 12px 20px;
        box-sizing: border-box;
        background-color: #979797;
        font-size: 16px;
        resize: none;
        margin-bottom:2em ;
    }

    label{
        display: block; 
        padding-bottom: 0.5em;
        color: #4aaaa5;
        font-family: 'Roboto', sans-serif;
        font-size: 1.3em;
    }

    ::placeholder {
        color: rgb(19, 19, 19);
        font-family: 'Roboto', sans-serif;
    }

    
    .submit-button-tablet {
        width: 50%;
        display: block;
        margin: 1em auto;
        background-color: #4aaaa5;
        color: black;
        padding: 1em 1em;
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        border: none;
        cursor: pointer;
    }

    .submit-button-tablet:hover{
        background-color: #2e837f;
        cursor: pointer;
    }


    /* Footer */
     
    .footer{
        background: #181818;
        border-top: 0.5em solid #4aaaa5;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        height: 5%;
    }
    
    .paragraph-footer{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 0.7em;
        color: #979797;
        padding: 0.8em; 
        margin: auto;
    }  
   


}

/* Desktop Version */

    
   @media(min-width: 599px) {

    *{
        margin:0 ;
        padding: 0;
    }

    html{
        background-image: url(../images/binary-code-abstract-lu.jpg);
    }
    
    .body{
         width: 100%;
    }
    
    .container-desktop{
        width: 100%;
        margin-top: 0;
        background-image: url(../images/binary-code-abstract-lu.jpg);
    }

    /* Header Nav Bar */

    .header-desktop{
        display: flex;
        justify-content: space-between;
        min-width: 100%;
        margin-top: 0em;
        background: #181818;
        border-bottom: 0.1em solid  #050505;
    }
   
    .logo-desktop{
        color:#4aaaa5;
        padding: 1em;
        float: left;
        margin-left: 4em;
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        text-transform: uppercase;
    }

    .nav-desktop{
        padding:2em;
        margin-right: 7em;
    }

    .nav-links-desktop{
        display: flex;
    }
       
    .nav-links-desktop li{
        list-style: none;
        margin-right:1em;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
    }
       
    .nav-links-desktop li a{
        text-decoration: none;
        color: #4aaaa5;
    }


    .nav-item::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #4aaaa5;
        transition: width .4s;
    }

    .nav-item:hover::after {
        width: 100%;
        transition: width .4s;
    }
    

    /* Index Wrapper */

    .wrapper-desktop-index{
        margin: 1.5em 10em;
        background: #181818;
        height: 30em;
        margin-bottom: 15em;
        padding: 0 1em;
    }
    
    h2{
        font-size: 2em;
        color:#4aaaa5;
        text-align: center;
        background: #181818;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        margin-top: 2em;
        border-bottom: 0.01em solid  #050505;
        padding: 1em 0em;
        text-transform: uppercase;
    }

    .column-desktop img{
        width: 15%;
        margin-left:2em;
        margin-right: 1.5em;
        margin-bottom: 0.8em;
        margin-top: 3.5em;
        float: left;
    }
    .column-text-desktop-1 {
        font-size: 110%;
        width: 100%;
        margin-top:3em;
        border-bottom: 0.01em solid  #050505;
    }
    .about-paragraph-desktop p {
        max-width: 100%;
        margin:0 1em;
        text-align: justify;
    }

    p{
        font-family: 'Roboto', sans-serif;
        color:#979797;
    }

    .line-main{
        width: auto;
        height: 0.5px;
        color: black;
        background: black;
    }

    .icon-github{
        width: 2.5em;
        float: right;
        margin: 1em 0.8em;
    }

    .icon-mail{
        width: 2.4em;
        float: right;
        margin: 1em 0em;
    }

    .icon-linkedin{
        width: 1.9em;
        margin: 1em 1em;
        float: right;
    }

    .resume-desktop{
        font-family: 'Roboto', sans-serif;
        font-size: 1.3em;
        float: left;
        margin: 0.5em;
        text-decoration: none;
        text-transform: uppercase;
    }

    .resume-desktop a{
        color: #4aaaa5;
        text-decoration: none;
    }

    .resume-desktop:hover::after {
        width: 100%;
        transition: width .2s;
    }

    .resume-desktop::after {
        content: '';
        display: block;
        width: 0px;
        height: 3px;
        background: #4aaaa5;
        transition: width .2s;
    }

    .resume-desktop a:hover{
        color: #88fff9;
        text-decoration: none;
    }



    /* Portfolio */
   
    .wrapper-desktop-portfolio{
        margin: 1.5em 10em;
        background: #181818;
        height: 110em;
        margin-bottom: 6em;
        padding: 0 1em;
        
    }

    .portfolio-desktop{
        color:#4aaaa5;
        font-size: 2em;
        text-align: center;
        background: #181818;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 1.5em;
        border-bottom: 0.01em solid  #050505;
        padding: 1em 0em;
    }
    .column-portfolio-desktop {
        border-bottom: 0.01em solid  #050505;
        display: flex;
    }

    .portfolio-images-desktop-1 {
        cursor: pointer;
        width: 30em;
        margin-left: 3em;
        margin-bottom: 2em;
    }
 
    .icon-github-portfolio{
        width: 3em;
    } 

    .about-project-1{
        display: flex;
        justify-content: flex-end;
    }

    .about-project-1 p {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.5em;
        margin: 3em 9em;
         
    }  
    
    .portfolio-images-desktop-2 {
        cursor: pointer;
        width: 30em;
        margin-left: 3em;
        margin-bottom: 2em;
    }

    .about-project-2{
        float: right;
    }

    
    .about-project-2 p {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.5em;
        margin: 4em 8em;
         
    }  
    .portfolio-images-desktop-3 {
        cursor: pointer;
        width: 30em;
        margin-left: 3em;
        margin-bottom: 2em;
    }

    .about-project-3{
        display: flex;
    }

    
    .about-project-3 p {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.5em;
        margin: 3em 8em;
    }  

    .portfolio-images-desktop-4 {
        cursor: pointer;
        width: 30em;
        margin-left: 3em;
        margin-bottom: 2em;
    }

    .about-project-4{
        display: flex;
    }

    
    .about-project-4 p {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.5em;
        margin: 2em 9em;
    }  
   


    /* Contact */
    .wrapper-desktop-form{
        margin: 1.5em 10em;
        background: #181818;
        height: 50em;
        margin-bottom: 10em;
        padding: 0 1em;
    }
    
    input[type=text] {
        background: #979797;
        color:black;
        padding: 0.7em;
        box-sizing: border-box;
        margin-bottom: 1.5em; 
        border: none;
    }

    .form-main-desktop{
        padding: 1em 12em;
        margin-top: 2em;
        margin-bottom: 2em;
        border-bottom: 0.01em solid  #050505;
    }

    textarea{
        width: 100%;
        height: 12em;
        padding: 12px 20px;
        box-sizing: border-box;
        background-color: #979797;
        font-size: 16px;
        resize: none;
        margin-bottom:2em ;
    }

    label{
        display: block; 
        padding-bottom: 0.5em;
        color: #4aaaa5;
        font-family: 'Roboto', sans-serif;
        font-size: 1.3em;
    }

    ::placeholder {
        color: rgb(19, 19, 19);
        font-family: 'Roboto', sans-serif;
    }

    .input-form-desktop{
        width: 100%;
        margin-right: 2em;
    }
    
    .submit-button-desktop  {
        width: 50%;
        display: block;
        margin: 1em auto;
        background-color: #4aaaa5;
        color: black;
        padding: 1em 1em;
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        border: none;
        cursor: pointer;
    }

    .submit-button-desktop:hover{
        background-color: #2e837f;
        cursor: pointer;
    }

    

    /* Footer */
     
    .footer-desktop{
        background: #181818;
        border-top: 0.5em solid #4aaaa5;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        height: 5%;
    }
    
    .p-footer-desktop{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 0.7em;
        color: #979797;
        padding: 0.8em; 
    }  
   
   
   
   
   
   
   
   