*{
    
    margin:0 ;
    padding: 0;
    
}
html{
    background-image: url(../images/binary-code-abstract-lu.jpg);
  

}


.body{
     width: 100%;
}

.container{
    width: 100%;
    margin-top: 0;
    background-image: url(../images/binary-code-abstract-lu.jpg);
  
}
   

.header{

   display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    min-width: 100%;
    /* height: 20%; */
    margin-top: 0em;
    /* bottom: 20px; */
    background: #181818;
    border-bottom: 0.1em solid  #050505;
}

.logo{
    color:#4aaaa5;
    padding: 1em;
}
   
h1{
    color:#4aaaa5;
    float: left;
    margin-left: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    
}
.nav{
    padding:1em;
   
}
.nav-links{
    display: flex;
    
}
   
.nav-links li{
    
    list-style: none;
    margin-right:0.7em;
    font-family: 'Roboto', sans-serif;
}
   
.nav-links a{
    text-decoration: none;
    color: #4aaaa5;
}

li a:hover{
    color: #88fff9;
}

.wrapper{
    margin: 1.5em;
    background: #181818;
    height: auto;
   
}

.wrapper-portfolio{
    margin: 1.5em;
    background: #181818;
    height: auto;
   

}

h2{
    color:#4aaaa5;
    text-align: center;
    background: #181818;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin-top: 2em;
    margin-bottom: 1.5em;
    border-bottom: 0.01em solid  #050505;
    padding: 1em 0em;
    
}



.column-img img{
    width: 40%;
    height: 30%;
    margin-left:1em;
    margin-right: 1.5em;
    margin-bottom: 0.8em;
    float: left;
}

.column {
    max-width: 100%;
    padding: 2em;  
}

.column text {
    
    width: 100%;
    
}

p{
    font-family: 'Roboto', sans-serif;
    color:#979797;
    /* text-align: justify; */
    max-width: 100%;
    margin:0 1em;
    
    
   
}

input[type=text] {
    background: #686868;
    color:black;
    padding: 0.7em;
    box-sizing: border-box;
    margin-bottom: 1.5em; 
    border: none;
}
.form-main{
    padding: 0em 1em;
   
    
   
}
textarea{
    width: 100%;
    height: 8em;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #686868;
    font-size: 16px;
    resize: none;
    margin-bottom:2em ;
}
label{
    display: block; 
    padding-bottom: 0.7em;
    color: #4aaaa5;
    font-family: 'Roboto', sans-serif;
}
::placeholder {
    color: rgb(19, 19, 19);
    font-family: 'Roboto', sans-serif;
  }

.submit-button  {
    width: 50%;
    display: block;
    margin: auto;
    background-color: #4aaaa5;
    color: black;
    padding: 1em 1em;
    font-family: 'Roboto', sans-serif;
    border: none;
    cursor: pointer;
  }
.submit-button:hover{
    background-color: #2e837f;
    cursor: pointer;

  }


.input-form{
    width: 100%;
    margin-right: 2em;
}



.resume{
    color: #4aaaa5;
    text-align: left;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1em;
    margin-right: 2em;
}


h3 a{
text-decoration: none;
color: #4aaaa5;

background: #080808;
padding: 0.5em;
border-radius: 3px;
}

h3 a:hover{
text-decoration: none;
color: #3bc0b9;
font-size: 140%;
}
.github{
    width: 30%;
   
    display: block;
    margin-left: 2em;
    
}
.linkedin{
    width: 75%;
    margin-right: 2em;
    
    margin-bottom: 2em;

}

.links{
    display: flex;
    justify-content: center;
    margin: 0 6em;
}



.column-text-portfolio-1{
    font-size: 70%;
    margin-top: 2em;
    margin-bottom: 2em;
    
   
}
.column-text-portfolio-2{
    font-size: 80%;
    height: 20em;
   
}
.portfolio-images-3{
    margin-right: 1em;
    
}
.column-text-portfolio-3{
    font-size: 70%;
    height: 20em;
}
.column-text-portfolio-4{
    font-size: 80%;
    height: 20em;

}



.portfolio-images-1{
    width: 40%;
    height: 30%;
    margin-left:1em;
    margin-right: 1em;
    margin-bottom: 0.8em;
    float: left;
    cursor: pointer;
} 

.portfolio-images-1 a:hover {
    cursor: pointer;
    
    
}

.portfolio-images-2{
    width: 40%;
    height: 10%;
    margin-left:1em;
    margin-right: 1em;
    margin-bottom: 0.8em;
    
    
    float: left;
    cursor: pointer;
}

.column-text-portfolio-3{
    margin-top: 2em;

}
.portfolio-images-3{
    width: 40%;
    height: 10%;
    margin-left:1em;
    margin-right: 9em;
    margin-bottom: 0.8em;
    
    float: left;
    cursor: pointer;

}
.portfolio-images-4{
    width: 40%;
    height: 10%;
    margin-left:1em;
    margin-right: 9em;
    margin-bottom: 0.8em;
    
    float: left;
    cursor: pointer;

}

footer{
    background: #181818;
    border-top: 0.5em solid #4aaaa5;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 5%;
}

.paragraph-footer{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 0.7em;
    color: #979797;
    padding: 0.8em; 
}  





    
   @media(min-width: 599px) {

    *{
        margin:0 ;
        padding: 0;
    }

    html{
        background-image: url(../images/binary-code-abstract-lu.jpg);
    
    }
    
    
    .body{
         width: 100%;
    }
    
    .container-desktop{
        width: 100%;
        margin-top: 0;
        background-image: url(../images/binary-code-abstract-lu.jpg);
    }
       
    
    .header-desktop{
    
       display: flex;
        justify-content: space-between;
        min-width: 100%;
        margin-top: 0em;
        background: #181818;
        border-bottom: 0.1em solid  #050505;
    }
    
    .logo-desktop{
        color:#4aaaa5;
        padding: 1em;
        float: left;
        margin-left: 4em;
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
    }
       
    
    .nav-desktop{
        padding:2em;
        margin-right: 4em;
       
    }
    .nav-links-desktop{
        display: flex;
        
    }
       
    .nav-links-desktop li{
        
        list-style: none;
        margin-right:3em;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
    }
       
    .nav-links-desktop a{
        text-decoration: none;
        color: #4aaaa5;
    }
    
    li a:hover{
        color: #88fff9;
    }
    
    .wrapper-desktop-index{
        margin: 1.5em 9em;
        background: #181818;
        height: 25em;
       
    }
    
    .portfolio-desktop{
        color:#4aaaa5;
        font-size: 3em;
        text-align: center;
        background: #181818;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        margin-top: 2em;
        margin-bottom: 1.5em;
        border-bottom: 0.01em solid  #050505;
        padding: 1em 0em;
    }
    
    .wrapper-desktop-portfolio{
        margin: 1.5em 9em;
        background: #181818;

    }
    
    .column-desktop img{
        width: 15%;
       
        margin-left:2em;
        margin-right: 1.5em;
        margin-bottom: 0.8em;
        float: left;
    }
    
    .column {
        max-width: 100%;
        padding: 2em;  
    } 
    
    .column-text-desktop-1 {
        font-size: 110%;
        
        width: 100%;
        
    }
    
    p{
        font-family: 'Roboto', sans-serif;
        color:#979797;
     
        max-width: 100%;
        margin:0 1em;
    }

    .wrapper-desktop-form{
        margin: 1.5em 9em;
        background: #181818;
        
    }
    
    input[type=text] {
        background: #686868;
        color:black;
        padding: 0.7em;
        box-sizing: border-box;
        margin-bottom: 1.5em; 
        border: none;
    }
    .form-main-desktop{
        padding: 1em 7em;
       
        
       
    }
    textarea{
        width: 100%;
        height: 8em;
        padding: 12px 20px;
        box-sizing: border-box;
        background-color: #686868;
        font-size: 16px;
        resize: none;
        margin-bottom:2em ;
    }
    label{
        display: block; 
        padding-bottom: 0.7em;
        color: #4aaaa5;
        font-family: 'Roboto', sans-serif;
    }
    ::placeholder {
        color: rgb(19, 19, 19);
        font-family: 'Roboto', sans-serif;
      }
    
    .submit-button-desktop  {
        width: 50%;
        display: block;
        margin: auto;
        background-color: #4aaaa5;
        color: black;
        padding: 1em 1em;
        font-family: 'Roboto', sans-serif;
        border: none;
        cursor: pointer;
      }
    .submit-button-desktop:hover{
        background-color: #2e837f;
        cursor: pointer;
    
      }
    
    
    .input-form-desktop{
        width: 100%;
        margin-right: 2em;
    }

    
    .resume-desktop{
        color: #4aaaa5;
        text-align: right;
        padding: 1em;
        font-family: 'Roboto', sans-serif;
        /* font-size: 100%; */
        margin-bottom: 3em;
        margin-right: 4em;
       
        
        
    }
    .resume-desktop a{
        text-decoration: none;
        color: #4aaaa5;
        font-size: 120%;
        background: #080808;
        padding: 0.5em;
        border-radius: 3px;
    }

    .resume-desktop a:hover{
        text-decoration: none;
        color: #3bc0b9;
        font-size: 140%;
    }
    
    .github-desktop{
        width: 15%;
         display: block; 
         margin-left: 5em; 
         
    }
    .linkedin-desktop{
        width: 30%;
        margin-bottom: 2em; 
    
    }
    
    .links-desktop{
        float: right;
        
    }
    
    
    
    .column-text-portfolio-desktop-1{
        font-size: 150%;
        
       
    }
    
    .desktop-1{
        width: 20%;
     
        margin-left:3em;
        margin-right: 2em;
        margin-bottom: 0.8em;
        float: left;
        cursor: pointer;
    } 
    
    .desktop-1 a:hover {
        cursor: pointer;
        
        
    }
    
    .desktop-2{
        width: 20%;
        
        margin-left:3em;
        margin-right: 2em;
        margin-bottom: 0.8em;
        float: left;
        cursor: pointer;
    }
    .column-text-portfolio-desktop-2{
        font-size: 150%;
    }

    .desktop-3{
        width: 20%;
        margin-left:3em;
        margin-right: 2em;
        /* margin-bottom: 0.8em; */
        float: left;
        cursor: pointer;

    }
    .column-text-portfolio-desktop-3{
        font-size: 150%;
    }

    .desktop-4{
        width: 20%;
        margin-left:3em;
        margin-right: 2em;
        margin-bottom: 0.8em;
        float: left;
        cursor: pointer;

    }
    .column-text-portfolio-desktop-4{
        font-size: 150%;
    }
    
    .footer-desktop{
        background: #181818;
        border-top: 0.5em solid #4aaaa5;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        height: 5%;
    }
    
    .p-footer-desktop{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 0.7em;
        color: #979797;
        padding: 0.8em; 
    }  
   
   
   
   
   
   
   
   